* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5rem; /* moves content in the body down slightly so it doesnt end up behind the navbar */
}

/* Customise and set consistent unordered list size across entire site */
ul {
  list-style: none;
}
ul li::before {
  content: "L "; /* inputs pretty much anything as the list point */
}
li {
  margin-left: 1rem;
}

/* Header format */
h1, h2 {
    text-align: center;
}

/* Main tag format */
main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    padding: 2em;
}

p {
  margin-top: 0.5rem;
}
.indent {
  text-indent: 1rem;
}
/* Blockquote tag format - currently only used for album reviews */
blockquote {
  margin-top: 1rem;
  padding: 1rem;
  font-style: italic;
  background-color: #f5f5dc;
  border-left: 4px solid #ccc;
  border-radius: 6px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}
.review-source {
  margin-top: 1rem;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  color: #555;
}

/* ====================================== Nav ====================================== */
nav {
    background-color: #333;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;

    /* Fix the navbar along the top of page when scrolling down */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 1000; */

    /* Adds subtle drop shadow to bottom of navbar - looks nice */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo img {
    width: 5rem;
    height: 5rem;
    display: flex;
    border-radius: 5px;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem;

    /* Reserve space bottom for hover indicator */
    border-bottom: 0.3rem solid transparent;
    /* Transition will fade in the underline rather than pop it in */
    transition: border-color 0.3s ease; 

    /* Reserving space pushed the text up a little, this re-centres it a little */
    line-height: 1.2;
}

.nav-links a:hover {
    border-bottom-color: #000;
}

/* only wiggle the navbar links are expanded */
@media (min-width: 601px) {
    .nav-links a:hover{
        animation: wiggle 0.3s ease-in-out;
    }    
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Using 'span' tag to draw the hamburger menu button lines */
.hamburger span {
    height: 3px;
    width: 25px;
    background: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}

#menu-toggle {
    display: none;
}

/* When screen size is reduced for responsive design minimise nav */
@media (max-width: 600px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        flex-direction: column;
        display: none;
    }

    .hamburger {
        display: flex;
    }

    /* Expand the hamburger menu when clicked */
    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }
    
    /* Flex is collapsing the margin. Below expicitly spaces them so the menu doesnt squash */
    .nav-links a:last-child {
    margin-bottom: 1rem;
    }
}

/* ====================================== Wiggle animation ====================================== */
@keyframes wiggle {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-15deg); }
  30% { transform: rotate(15deg); }
  45% { transform: rotate(-10deg); }
  60% { transform: rotate(10deg); }
  75% { transform: rotate(-5deg); }
  90% { transform: rotate(5deg);  }
  100% { transform: rotate(0deg); }
} 

/* ====================================== Home Page ====================================== */
.homepagebanner {
  background: url(../images/BAND.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 5rem;
  
  height: 100vh;
}

/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 1rem;

}

.welcome-card {
  flex: 1;

  padding: 1rem 1rem 1rem 1rem;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;

  min-height: 230px;
  max-height: 300px;
  margin: 15rem 0 0 0;
}

.welcome-card:nth-child(odd) {
  margin: 0 0 15rem 0;
}

/* ====================================== Zigzag layout ====================================== */
/* Zigzag section */
.zigzag-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

/* Zigzag layout card */
.zigzag-card {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

/* Zigzag layout */
.zigzag-card:nth-child(even) {
  flex-direction: row-reverse;
}

.zigzag-info, .zigzag-image {
  flex: 1 1 300px;
  padding: 1rem;
  box-sizing: border-box;
}

.zigzag-info {
  background: #f9f9f9;
}

.zigzag-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Collapse the welcome section and zigzag cards */
@media (max-width: 850px) {
    .welcome-section {
    flex-direction: column;
  }

  .welcome-card {
    margin: 0 !important;
    max-height: none;
    
  }

  .zigzag-card {
    flex-direction: column;
  }

  .zigzag-card:nth-child(even) {
    flex-direction: column;
  }

}

/* ====================================== Footer ====================================== */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer section {
  flex: 1 1 200px;
}

.socials i,
.contactus i {
  font-size: 2rem;
}

/* Makes the footer links a consistent colour and keeps them that way. */
footer a:link, a:visited {
    color: #ffffff;
}

/* collapses footer into single column on narrower screens */
@media (max-width: 850px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
  }

  footer section {
    flex-basis: 80px;
  }
}

/* ====================================== Discography ====================================== */
.newmusic-section,
.discography-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}
.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.discography-section {
  margin-top: 2rem;
}

.album-table {
  flex: 1;
  max-width: 800px;
  width: 100%;
  border-collapse: collapse;

  margin-top: 3rem;
}

.album-table td,
.album-table th {
  outline: 1px solid #000;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.album-art {
  width: 100%;
  max-width: 600px;
  min-width: 140px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  vertical-align: middle;
}

.album-title {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.17rem;
}

/* ====================================== CSS Gallery ====================================== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* ====================================== Tour Dates ====================================== */
/* general layoutleverages the zigzag already set up in the members section */

.ticket-button {
  display: inline-block;
  padding: 12px 24px;
  background: #e63946; /* bold accent color */
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ticket-button::before {
  content: "Buy Tickets";
}

.ticket-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(230, 57, 70, 0.6);

}

/* ====================================== Tabs System ====================================== */
/* Applied across whole site */
/* Hide radio buttons */
input[type="radio"] {
  display: none;
}

.tab-container {
  margin-top: 1rem;
}

.tab-label {
  padding: 0.5rem;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 8px 8px 0 0;
}

.tab-label:hover {
  background: #8b8b8b;
}

/* Active tab style */
input:checked + .tab-label {
  background: #fff;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

@media (max-width: 520px) {
  .tab-label {
    font-size: small;
  }
}

/* Tab content */
.tab-content {
  display: none;
  /* padding: 20px; */
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

/* Associate tab label to tab content ID */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
